<form action="/articles" method="POST">
  <p>Article Title: <input type="text" name="title"></p>
  <p>Article Content: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>
